[push]
	default = simple
[core]
	excludesfile = /Users/Home/.gitignore_global
	editor = atom -w
[user]
	name = my_nickname
	email = my_nickname@mail.com
[alias]
	hist = log --all --graph --decorate --oneline --all
[merge]
    tool = intellij
[diff]
   tool = intellij
[difftool "intellij"]
   cmd = /usr/local/bin/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[mergetool "intellij"]
   cmd = /usr/local/bin/idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
   trustExitCode = true
[mergetool]
	prompt = false
[difftool]
	prompt = false
